.banner{
        height: 400px;
        object-fit: cover;
    }
*{
    margin: 0;
    padding: 0;
}
.sizeImg-evolucion{
    width: 180px;
    height: 180px;
}
/* Cards de página principal */
.morado{
    background-color: blueviolet;
}
.naranja{
    background-color: orange;
}
.volador{
    background-color:rgba(211, 173, 116, 0.9);
}

@media all and (min-width:768px){
    .sizeImg-evolucion{
        width: 100px;
        height: 100px;
    }
}