.banner{
        height: 400px;
        object-fit: cover;
    }
*{
    margin: 0;
    padding: 0;
}
.sizeImg-evolucion{
    width: 180px;
    height: 180px;
}
/* Cards de página principal */
.morado{
    background-color: blueviolet;
}
.naranja{
    background-color: orange;
}
.volador{
    background-color:rgba(211, 173, 116, 0.9);
}

.navbar-nav > li > .dropdown-menu {
    background-color: #dc3545;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item:hover{
    background-color: #c52e3d;
}

.bg-error404{
    background-image: url(../img/error.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #dc3545;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item:hover{
    background-color: #c52e3d;
}

@media all and (min-width:768px){
    .sizeImg-evolucion{
        width: 100px;
        height: 100px;
    }
=======
.sobrenosotros{
    object-fit:cover;
    width: 100%;
    height: 400px;
}
.posicionar{
   position: absolute;
   top: 5rem;
  color: rgb(247, 247, 247);
 left: 3.5em;
 background: rgba(255, 255, 255, 0.219);
 padding: 10px;
}


.img{
    width: 100%;
}
.estilos{
    background-color: rgba(0, 0, 0, 0.096);
    
}
article img{
    width: 100%;
}